extends layout



block content
  main
    .container      
      if story[0]
        .card
        .card-body
        p.card-text= story[0].body
      if imgsrc
        img(src=imgsrc alt="bild")
      if links
        h3 Välj ett alternativ
          each link in links
            .card
            .card-body
            a(href='/story/' +link.target_id) #{link.description}
            br
