extends layout



block content
  main
    .container
      h1= title
      if users
        p.lead H채r 채r ett exempel p책 iteration
        ul.list
          each user in users
            li= user

      if user[0]
        p= user[0].name
        h3 Anv채ndarens meeps
        if meeps
          ul.list
            each meep in meeps
              li= meep.body